/* styling the body, all paragraphs*/
html,body {
    background-color: blueviolet;
    width: 1280px;
    margin: 0 auto;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.hidden {
    display:none;
}

.paragraph-break{
    width: 1150px;
    text-align: center;
    font-size: 25px;
}

.paragraph-breakway{
    margin-top: 100px;
    width: 1150px;
    text-align: center;
}


/* styling the section where you find the company logo, profile picture*/

header {
    position: fixed;
    background-color: #000000;
    z-index: 100;
  }

#logo-section{
    background-color: rgb(255, 255, 255);
    width: 1280px;
    height: 70px;
    
}


#top-logo {
    
    margin-left: 15px;
   
}

.profile-circle {
    
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    overflow: hidden;
    margin:-70px 65px 40px 1100px;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    display: block;
  }
  


/* styling the section where you find the login, sign up and profile links*/

#top-menu1 {
    
    
    margin-top: -250px;
    display: inline;
}

#top-menu1 ul {
    
    list-style-type: none;
    margin-left: 650px;
    margin-top: -55px;
    
    
}

#top-menu1 ul li  {
    display:inline;
    margin-right: 60px;
  
}


#top-menu1 ul li a {
  text-decoration: none;
  color:rgb(71, 71, 71);
}

#top-menu1 ul li a:hover {
    text-decoration: underline;
    color:rgb(196, 22, 22);
  }
  
  #top-menu2 {
    
    width: 1280px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    display: inline-flex;
}
/* styling the section where you find the */
#top-menu2 ul {
    list-style-type: none;
    margin-left: 110px;
    margin-top: -10px;
   
    
}

#top-menu2 ul li  {
    display:inline;
    margin-left: 100px;
}


#top-menu2 ul li a {
  text-decoration: none;
  color:rgb(71, 71, 71);
}

#top-menu2 ul li a:hover {
    text-decoration: underline;
    color:rgb(255, 255, 255);
  }
  

  
#cart-1{
    margin-top: 26px;
    margin-right:104px;
    margin-bottom: 27px;
    margin-left: 1131px;
}
  .art-details {
    color: rgb(255, 255, 255);
  }


  /* styling the section where you find the class main_img-container*/

  .main_img-container {
    width: 1280px;
    
}

.main_slider-wrapper{

    position: relative;
    width: 1280px;
    
}

.main_slider {
    display:flex;
    width: 1280px;
    overflow: hidden;
   
  
}



.main_slider-nav {

  display: block;
  column-gap: 10px;
   position: absolute;
   bottom: 50px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1;
}

.main_slider-nav img{
    width: 26px;
    height: 31px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 50%;
    transition: opacity ease 250ms;
}


input{
    width: 26px;
    height: 31px;
}


/* styling the section where you find the class carousel-container1*/
.carousel-container1 {
    width: 1280px;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.carousel1 {
    display: flex;
    width: 1500px; 
    animation: slider1 70s linear infinite;
    max-width: 70%;
    filter:contrast(20%);
    filter: blur(5px);
}


@keyframes slider1 {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-1280px);
    }

    40% {
        transform: translateX(-2560px);
    }

    80% {
        transform: translateX(-3840px);
    }
   
    100% {
        transform: translateX(-5120px);
    }
}


/* styling the section where you find the class event_img-container*/


.event_img-container {
    width: 115px;
    height: 448px;
   
}

.event_slider-wrapper{

    position: relative;
    width: 1280px;
    margin-left: 65px;
    margin-top: -500px;
}

.event_slider {
    display:flex;
    width: 1150px;
    overflow: hidden;
   
  
}



.event_slider-nav {

  display: block;
  column-gap: 10px;
   position: absolute;
   bottom: 50px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1;
}

.event_slider-nav img{
    width: 26px;
    height: 31px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 50%;
    transition: opacity ease 250ms;
}


  .background-image{
    width: 1280px;
    height: 1256px;
    margin-bottom: -650px;
  }

  /* styling the section where you find the optimal social lead*/
  .social-bg{
    background-image: url(../image/optimum-social-media.jpg);
    width: 1280px;
    height: 1000px;
  }

  /*Footer Styling*/

#footer-box{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    margin-top: 100px;
}

#footer-logo{
    margin-left:100px;
}
#footer-social_logo{
    margin-left: 1065px;
    padding-right: 50px;
}

#footer-menu{
    margin-left: 50px;
    margin-top: -120px;
}

    #footer-menu ul {
        list-style-type: none;
        text-align: center;
        margin-top: 10px;
        
        
    }
    
    #footer-menu ul li  {
        display:inline;
        margin-right: 20px;
        text-align: center;
        
    }
    
    
    #footer-menu ul li a {
      text-decoration: none;
      color:rgb(71, 71, 71);
    }
    
    #footer-menu ul li a:hover {
        text-decoration: underline;
        color:rgb(94, 4, 4);
      }